@model BookSale.Models.Books;
@{
    ViewData["Title"] = "Details";
}
<h1 style="color:aqua">Details</h1>
<div>
    <h4 style="color:red">Book</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(x=>x.Title)<!--Name-->
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Html.DisplayFor(x=>x.Title)<!--Value-->
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(x=>x.Genre)
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Html.DisplayFor(x=>x.Genre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(x=>x.Price)
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Html.DisplayFor(x=>x.Price)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(x=>x.PublishDate)
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Html.DisplayFor(x=>x.PublishDate)
        </dd>
    </dl>
    <table>
        <thead>
            <tr>
                <th>
                    Authors
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Authors)
            {
                <tr>
                    <td style="color:red">
                        @Html.DisplayFor(x=>item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back To List</a>
</div>
