@model BookSale.Models.Book;
@{
    ViewData["Title"] = "Details";
}
<h1 style="color:aqua">Details</h1>
<div>
    <h4 style="color:red">Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
           <label asp-for="Title"></label> <!--To retrieving the property name--> 
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Model.Title<!--For displaying the property value-->
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Genre"></label>
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Model.Genre
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Price"></label>
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Model.Price.ToString("C")
        </dd>
        <dt class="col-sm-4">
            <label asp-for="PublishDate"></label>
        </dt>
        <dd class="col-sm-10" style="color:blue">
            @Model.PublishDate.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <partial name="_Authors" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Book</a>
    <a asp-action="Index">Back To List</a>
</div>
